<footer class="footer-container">
    <nav>
        <ul class="footer-links">
            <li class="links1"><a href="/" class="<%= currentPage1 %>">Home</a></li>
            <li class="links2"><a href="/designers" class="<%= currentPage2 %>">Designers</a></li>
            <li class="links3"><a href="/typefaces" class="<%= currentPage3 %>">Typefaces</a></li>
        </ul>
    </nav>
    <div class="footer-bottom">
        <p class="copy">Copyright &copy; 2024; Created by Victor</p>
    </div>
</footer>