<header class="header">
    <h2 class="header-color">Logotype</h2>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Artists</a></li>
            <li><a href="">Typefaces</a></li>
        </ul>
    </nav>
</header>