<nav>
    <ul>
        <li><a href="/" class="<%= currentPage1 %>">Home</a></li>
        <li class="links0"><a href="/designers" class="<%= currentPage2 %>">Designers</a></li>
        <li><a href="/typefaces" class="<%= currentPage3 %>">Typefaces</a></li>
    </ul>
</nav>