<header class="container container-nav">
    <div class="site-title">
        <h1 class="logotype">The Swiss School</h1>
    </div>
    <nav>
        <ul>
            <li><a href="" class="current-page">Home</a></li>
            <li class="links0"><a href="">Artists</a></li>
            <li><a href="">Typefaces</a></li>
        </ul>
    </nav>
</header>