<header class="container container-nav">
    <div class="site-title">
        <h1 class="logotype"><a href="/">The Swiss School</a></h1>
    </div>
    <%- include('../partials/headermenu.ejs') %>
</header>