<div class="hero-section">
    <div>
        <h1>Elevate your knowledge about Swiss Design</h1>
        <p>We explain the fundamentals and makes it visually pleasing</p>
        <button>Join us!</button>
    </div>
    <div class="hero-image">
        <img src="img/neue-grafik.jpg" alt="neue-grafik">
    </div>
</div>