<div class="hero-section">
    <div>
        <h1><%= herotitle %></h1>
        <p><%= herosubtitle %></p>
        <button><%= cta %></button>
    </div>
    <div class="hero-image">
        <img src="img/neue-grafik.jpg" alt="neue-grafik">
    </div>
</div>