<div class="hero-section">
    <div class="hero-div">
        <h1><%= herotitle %></h1>
        <p><%= herosubtitle %></p>
        <button onclick="window.location.href=`https://www.hfg-ulm.de/en/`"><%= cta %></button>
    </div>
    <div class="hero-image">
        <img src="img/neue-grafik.jpg" alt="neue-grafik">
    </div>
</div>