<div class="columns">
    <div class="poster-image">
        <img src="img/poster-1.jpg" alt="">
        <p>Josep M端ller-Brockmann, Auto Club of Switzerland Poster, 1955</p>
    </div>
    <div class="poster-image">
        <img src="img/poster-2.jpg" alt="">
        <p>Joseph M端ller-Brockmann,  Z端rich Town Hall Poster, 1955</p>
    </div>
    <div class="poster-image ">
        <img src="img/poster-3.jpg" alt="">
        <p>Joseph M端ller-Brockmann,  1962</p>
    </div>
    <div class="poster-image ">
        <img src="img/poster-4.jpg" alt="">
        <p>Eugene and Max Lenz,  Sports Poster, 1958</p>
    </div>
</div>