<div>
    <nav class="sidebarmenu">
        <ul><a href=""><%= sidebaritems1 %></a></ul>
        <ul><a href=""><%= sidebaritems2 %></a></ul>
        <ul><a href=""><%= sidebaritems3 %></a></ul>
    </nav>
</div>