<div>
    <nav class="sidebarmenu">
        <ul><a href="/designers/ernstkeller"><%= sidebaritems1 %></a></ul>
        <ul><a href="/designers/arminhofmann"><%= sidebaritems2 %></a></ul>
        <ul><a href="/designers/jmb"><%= sidebaritems3 %></a></ul>
    </nav>
</div>