<div class="columns">
    <div class="col-1">
        <h2>Swiss Design</h2>
        <p>
            A style of design that originated in Switzerland in the 1940s and 50s was the basis of much of the development of graphic design during the mid 20th century.
            Led by designers Josef Müller-Brockmann at the Zurich School of Arts and Krafts and Armin Hofmann at the Basel School of Design.
            Of the many contributions to develop from the two schools were the use of:
        </p>
        <ul>
            <li>Sans-serif typography</li>
            <li>Grids</li>
            <li>Assymetrical Layouts</li>
            <li>Typography & photography</li>
        </ul>
    </div>
    <div class="col-2">
        <h2>Swiss style and its prototypes</h2>
        <p>
            The development of the Swiss style is associated with the formation of new principles in graphic design and is correlated with a number of prototypes, in particular, such as De Stijl, Russian constructivism, the Bauhaus school, International Typographic Style, etc. 
            Ernst Keller had a fundamental influence on the development of the Swiss school. Having started teaching at the School of Applied Sciences in Zürich in 1918, he outlined the basic principles of the future Swiss School, and also contributed to the formation of a whole generation of graphic designers. 
            The masters trained by Keller formed the basis of the Swiss school of graphic design. One of Keller's students was Josef Müller-Brockmann, who perfected the modular grid system and made it the basis of both the Swiss style and modern graphic design.
        </p>
    </div>
</div>