
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Document</title>
</head>
<body>
    <header class="container container-nav">
        <div class="site-title">
            <h1 class="logotype">The Swiss Design School</h1>
        </div>
        <nav>
            <ul>
                <li><a href="" class="current-page">Home</a></li>
                <li class="links0"><a href="">Artists</a></li>
                <li><a href="">Typefaces</a></li>
            </ul>
        </nav>
    </header>
    <footer class="footer-container">
        <nav>
            <ul class="footer-links">
                <li class="links1"><a href="" class="current-page">Home</a></li>
                <li class="links2"><a href="">Artists</a></li>
                <li class="links3"><a href="">Typefaces</a></li>
            </ul>
        </nav>
        <div class="footer-bottom">
            <p class="copy">Copyright &copy; 2024; Created by Victor</p>
        </div>
    </footer>
</body>
</html>