.hero-section {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

img {
    display: block;
    max-inline-size: 100%;
}

button {
    padding: 1em 2.1em 1.1em;
    border-radius: 4px;
    margin: 8px;
    border: none;
    background-color: #f1ef9b;
    color: #000;
    font-weight: 800;
    font-size: 0.85em;
    text-transform: uppercase;
    box-shadow: 0em -0.2rem 0em #f1ef9b inset;
    transition: color 0.1s ease-in-out;

}

button:hover {
    background-color: transparent;
    color: red;
    border: 3px solid #f1ef9b;
    cursor: pointer;
}

.columns {
    margin-top: 50px;
    gap: 2em;
    display: flex;
}

.col-1 {
    width: 50%;
    max-width: 600px;
}

.col-2 {
    width: 50%;
    max-width: 600px;
}
